<div class="modal modalOrderTour">
    <button class="btn btn__cross" type="button">
        <svg class="svg svg__cross" viewBox="0 0 22 22">
            <use href="./images/svg/sprite.svg#cross" />
        </svg>
    </button>

    <h2 class="modalOrderTour__title">Забронювати тур</h2>
    <p class="modalOrderTour__subTitle">
        Ви можете залишити тут свою заявку і наш менеджер зателефонує протягом 10
        хвилин
    </p>
    <form class="form modalOrderTour__form">
        <input name="name" class="modalOrderTour__input" type="text" placeholder="Ваше ім’я*" required />
        <input name="phone" class="modalOrderTour__input" type="text" placeholder="Номер телефону*" required />
        <input name="choosedTour" class="modalOrderTour__input" type="text" placeholder="Який тур Вас зацікавив?" />
        <button class="btn btn__main modalOrderTour__btn" type="submit">
            подзвонити мені
        </button>
    </form>
</div>