<section class="section tours" id="tours">
  <div class="container">
    <h2 class="tours__title">Найближчі тури</h2>

    <ul class="list chooseList">
      <li class="chooseList__item">
        <button class="btn btn__chooseList is-active" data-tour="goverla">
          Сходження на Говерлу
        </button>
      </li>
      <li class="chooseList__item">
        <button class="btn btn__chooseList" data-tour="bukovel">
          Лижний тур на Буковель
        </button>
      </li>
      <li class="chooseList__item">
        <button class="btn btn__chooseList" data-tour="carp">
          Тиждень в Карпатах
        </button>
      </li>
    </ul>
  </div>

  <div class="tours__wrapper">
    <div class="goverla is-visible" data-goverla>
      <div class="swiper swiper1">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <video class="tours__item" autoplay loop muted data-goverlaDay="1" src="./video/1.1_out.mp4"></video>
            <div class="tours__meta is-active">
              <h3 class="tours__subtitle">1 день</h3>
              <ul class="tours__list list">
                <li class="tours__text">Виїзд зі Львова</li>
                <li class="tours__text">Манявський скит</li>
                <li class="tours__text">Манявський водоспад</li>
                <li class="tours__text">Приїзд до Буковеля</li>
                <li class="tours__text">Поселення в готель</li>
                <li class="tours__text">Вечеря</li>
                <li class="tours__text">Вечір біля каміна</li>
              </ul>
            </div>
          </div>

          <div class="swiper-slide">
            <video class="tours__item" autoplay loop muted data-goverlaDay="1" src="./video/1.2_out.mp4"></video>
            <div class="tours__meta">
              <h3 class="tours__subtitle">2 день</h3>
              <ul class="tours__list list">
                <li class="tours__text">Сніданок</li>
                <li class="tours__text">Підйом на Говерлу</li>
                <li class="tours__text">Обід</li>
                <li class="tours__text">Активний відпочинок</li>
                <li class="tours__text">Сауна</li>
                <li class="tours__text">Вечеря</li>
              </ul>
            </div>
          </div>

          <div class="swiper-slide">
            <video class="tours__item" autoplay loop muted data-goverlaDay="1" src="./video/1.3_out.mp4"></video>
            <div class="tours__meta">
              <h3 class="tours__subtitle">3 день</h3>
              <ul class="tours__list list">
                <li class="tours__text">Сніданок</li>
                <li class="tours__text">Прогулянка по Буковелі</li>
                <li class="tours__text">Виселення з готелю</li>
                <li class="tours__text">Яремче</li>
                <li class="tours__text">Прибуття до Львову</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
      <p class="tours__subtext">4 499 грн./людина</p>
      <button type="button" class="btn btn__main tours__btn">Забронювати тур</button>
    </div>

    <div class="bukovel slider" data-bukovel>
      <div class="swiper swiper1">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <video class="tours__item" autoplay loop muted src="./video/2.1_out.mp4"></video>
            <div class="tours__meta">
              <h3 class="tours__subtitle">1 день</h3>
              <ul class="tours__list list">
                <li class="tours__text">Виїзд зі Львова</li>
                <li class="tours__text">Манявський скит</li>
                <li class="tours__text">Манявський водоспад</li>
                <li class="tours__text">Приїзд до Буковеля</li>
                <li class="tours__text">Поселення в готель</li>
                <li class="tours__text">Вечеря</li>
                <li class="tours__text">Вечір біля каміна</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <video class="tours__item" autoplay loop muted src="./video/2.2_out.mp4"></video>
            <div class="tours__meta">
              <h3 class="tours__subtitle">2 день</h3>
              <ul class="tours__list list">
                <li class="tours__text">Сніданок</li>
                <li class="tours__text">Активний відпочинок</li>
                <li class="tours__text">Обід</li>
                <li class="tours__text">Активний відпочинок</li>
                <li class="tours__text">Вечеря</li>
                <li class="tours__text">Відпочинок</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <video class="tours__item" autoplay loop muted src="./video/2.3_out.mp4"></video>
            <div class="tours__meta">
              <h3 class="tours__subtitle">3 день</h3>
              <ul class="tours__list list">
                <li class="tours__text">Сніданок</li>
                <li class="tours__text">Прогулянка по Буковелю</li>
                <li class="tours__text">Обід</li>
                <li class="tours__text">Активний відпочинок</li>
                <li class="tours__text">Сауна</li>
                <li class="tours__text">Вечеря</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <video class="tours__item" autoplay loop muted src="./video/2.4_out.mp4"></video>
            <div class="tours__meta">
              <h3 class="tours__subtitle">4 день</h3>
              <ul class="tours__list list">
                <li class="tours__text">Сніданок</li>
                <li class="tours__text">Активний відпочинок</li>
                <li class="tours__text">Обід</li>
                <li class="tours__text">Виїзд з Буковелю</li>
                <li class="tours__text">Прибуття до Львова</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <p class="tours__subtext">7 499 грн./людина</p>
      <button type="button" class="btn btn__main tours__btn">Забронювати тур</button>
    </div>

    <div class="carp slider" data-carp>
      <div class="swiper swiper1">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <video class="tours__item" autoplay loop muted src="./video/3.1_out.mp4"></video>
            <div class="tours__meta">
              <h3 class="tours__subtitle">1 день</h3>
              <ul class="tours__list list">
                <li class="tours__text">Виїзд зі Львова</li>
                <li class="tours__text">Скелі Довбуша</li>
                <li class="tours__text">Обід</li>
                <li class="tours__text">Фортеця Тустань</li>
                <li class="tours__text">Поселення в готель</li>
                <li class="tours__text">Вечеря</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <video class="tours__item" autoplay loop muted src="./video/3.2_out.mp4"></video>
            <div class="tours__meta">
              <h3 class="tours__subtitle">2 день</h3>
              <ul class="tours__list list">
                <li class="tours__text">Сніданок</li>
                <li class="tours__text">Озеро Синевир</li>
                <li class="tours__text">Екопарк “Долина вовків”</li>
                <li class="tours__text">Обід</li>
                <li class="tours__text">Екскурсія в Колочаву</li>
                <li class="tours__text">Вечеря</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <video class="tours__item" autoplay loop muted src="./video/3.3_out.mp4"></video>
            <div class="tours__meta">
              <h3 class="tours__subtitle">3 день</h3>
              <ul class="tours__list list">
                <li class="tours__text">Сніданок</li>
                <li class="tours__text">Водоспад Шипіт</li>
                <li class="tours__text">Гора Гимба</li>
                <li class="tours__text">Активний відпочинок</li>
                <li class="tours__text">Вечеря</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <video class="tours__item" autoplay loop muted src="./video/3.4_out.mp4"></video>
            <div class="tours__meta">
              <h3 class="tours__subtitle">4 день</h3>
              <ul class="tours__list list">
                <li class="tours__text">Сніданок</li>
                <li class="tours__text">Оленяча ферма в Ізі</li>
                <li class="tours__text">Теплі води в Велятино</li>
                <li class="tours__text">Географичний центр Европи</li>
                <li class="tours__text">Вечеря</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <video class="tours__item" autoplay loop muted src="./video/3.5_out.mp4"></video>
            <div class="tours__meta">
              <h3 class="tours__subtitle">5 день</h3>
              <ul class="tours__list list">
                <li class="tours__text">Сніданок</li>
                <li class="tours__text">Сходження на Говерлу</li>
                <li class="tours__text">Активний відпочинок</li>
                <li class="tours__text">Вечеря</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <video class="tours__item" autoplay loop muted src="./video/3.6_out.mp4"></video>
            <div class="tours__meta">
              <h3 class="tours__subtitle">6 день</h3>
              <ul class="tours__list list">
                <li class="tours__text">Сніданок</li>
                <li class="tours__text">
                  Хата-музей з к/ф “Тіні забутих предків”
                </li>
                <li class="tours__text">Обід</li>
                <li class="tours__text">Рафтинг або вільній час</li>
                <li class="tours__text">Вечеря</li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <video class="tours__item" autoplay loop muted src="./video/3.7_out.mp4"></video>
            <div class="tours__meta">
              <h3 class="tours__subtitle">7 день</h3>
              <ul class="tours__list list">
                <li class="tours__text">Сніданок</li>
                <li class="tours__text">Стежка Довбуша</li>
                <li class="tours__text">Сувенірний ярмарок</li>
                <li class="tours__text">Обід</li>
                <li class="tours__text">Водоспад Пробій</li>
                <li class="tours__text">Повернення у Львів</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
      <p class="tours__subtext">9 999 грн./людина</p>
      <button type="button" class="btn btn__main tours__btn">Забронювати тур</button>
    </div>
  </div>
</section>