<section class="section gallery" id="gallery">
    <div class="container gallery__container">
        <h2 class="gallery__title">Галерея</h2>
        <ul class="list gallery__listBtn">
            <li class="item gallery__itemBtn">
                <button class="gallery__button gallery__button--active" type="button" data-season="summer"
                    id="galleryBtn">
                    Літо
                </button>
            </li>
            <li class="item gallery__itemBtn">
                <button class="gallery__button" type="button" data-season="autumn" id="galleryBtn">
                    Осінь
                </button>
            </li>
            <li class="item gallery__itemBtn">
                <button class="gallery__button" type="button" data-season="winter" id="galleryBtn">
                    Зима
                </button>
            </li>
            <li class="item gallery__itemBtn">
                <button class="gallery__button" type="button" data-season="spring" id="galleryBtn">
                    Весна
                </button>
            </li>
        </ul>
        <div class="gallery__photoContainer swiper swiper3">
            <div class="gallery__box1 swiper-wrapper is-visible" id="swiper3"></div>
            <div class="swiper-button-prev gallery__prev"></div>
            <div class="swiper-button-next gallery__next"></div>
        </div>
    </div>
</section>