<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a class="header__logo" href="./index.html">
                <svg class="header__icon svg" viewBox="0 0 80 38">
                    <use href="./images/svg/sprite.svg#logo" />
                </svg>
            </a>

            <button class="btn btn__menu" aria-label="mobile-menu__container">
                <svg width="30" height="30" viewBox="0 0 100 100">
                    <use class="line line__first" href="./images/svg/sprite.svg#menuLineFirst" />
                    <use class="line line__second" href="./images/svg/sprite.svg#menuLineSecond" />
                    <use class="line line__third" href="./images/svg/sprite.svg#menuLineThird" />
                </svg>
            </button>
            <div class="backdropCloseMenu"></div>
            <div class="menu">
                <nav class="header__nav">
                    <ul class="header__list list">
                        <li class="header__item">
                            <a href="#about" class="link header__link">Про нас</a>
                        </li>
                        <li class="header__item">
                            <a href="#tours" class="link header__link">Тури</a>
                        </li>
                        <li class="header__item">
                            <a href="#reviews" class="link header__link">Відгуки</a>
                        </li>
                        <li class="header__item">
                            <a href="#gallery" class="link header__link">Галерея</a>
                        </li>
                        <li class="header__item">
                            <a href="#contacts" class="link header__link">Контакти</a>
                        </li>
                    </ul>
                </nav>

                <ul class="contacts contacts--header list">
                    <li class="contacts__item">
                        <a class="contacts__link link" href="https://web.telegram.org/" target="_blank">
                            <svg class="contacts__icon svg">
                                <use href="./images/svg/sprite.svg#telegram" />
                            </svg>
                        </a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__link link" href="https://www.instagram.com/" target="_blank">
                            <svg class="contacts__icon svg">
                                <use href="./images/svg/sprite.svg#instagram" />
                            </svg>
                        </a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__link link" href="https://uk-ua.facebook.com/" target="_blank">
                            <svg class="contacts__icon svg">
                                <use href="./images/svg/sprite.svg#facebook" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>