@import "../components/globalStyle/svg";
@import "../components/globalStyle/btn";
* {
  box-sizing: border-box;
}
body {
  margin: 0;

  font-family: "Playfair Display", serif;
  font-style: normal;

  color: $white-color;
  background-color: $white-color;
}

main {
  min-height: calc(100vh - 189px);

  @media screen and (min-width: $min768) {
    min-height: calc(100vh - 196px);
  }
}

button {
  padding: 0;
  border: 0;

  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.section {
  padding: 30px 0;

  @media screen and(min-width: $min768) {
    padding: 40px 0;
  }
}
.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  @media screen and(min-width:$min375) {
    max-width: $min375;
  }
  @media screen and (min-width: $min768) {
    min-width: $min768;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: $min1280) {
    min-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.list {
  padding: 0;
  margin: 0;
  color: inherit;
  list-style: none;
}

.link {
  padding: 0;
  margin: 0;
  color: inherit;
  text-decoration: none;
}
