$green: #395c4b;
$dark: #202321;
$light: #f1f6f6;
$grey: #a3a5a3;

%hover-style:hover,
%hover-style:focus {
  background-color: #1d4f36;
  box-shadow: 0px 4px 32px 4px rgba(32, 35, 33, 0.2);
}
%active-style:active {
  background-color: #003d1f;
}
%hover-input:hover,
%hover-input:focus {
  color: $green;
  border-bottom: 1px solid $green;
  box-shadow: 0px 4px 32px 4px rgba(32, 35, 33, 0.2);
}
%active-input:active {
  color: #003d1f;
  border-bottom: 1px solid #003d1f;
}
