<footer class="footer" id="contacts">
    <div class="footer__container">
        <h2 class="footer__title">Контакти</h2>
        <div class="footer__content">
            <div class="footer__wrapper">
                <ul class="footer-roster list">
                    <li class="footer-roster__item">
                        <svg class="footer-roster__svg--place" width="19px" height="27px">
                            <use href="./images/svg/sprite.svg#place" />
                        </svg>
                    </li>
                    <li class="footer-roster__item">
                        <svg class="footer-roster__svg--phone" width="18px" height="29px">
                            <use href="./images/svg/sprite.svg#phone" />
                        </svg>
                    </li>
                    <li class="footer-roster__item">
                        <svg class="footer-roster__svg--email" width="27px" height="21px">
                            <use href="./images/svg/sprite.svg#email" />
                        </svg>
                    </li>
                </ul>
                <ul class="footer__list list">
                    <li class="footer__item">
                        <a href="https://goo.gl/maps/YXV7VYPvYaJD6VWL8" target="_blank" rel="noopener noreferrer"
                            aria-label="google maps" class="footer__link link">
                            м. Львів, вул. Дорошенка, 44 к</a>
                    </li>
                    <li class="footer__item">
                        <a href="tel:+380971626790" aria-label="telephone" class="footer__link link">+38 (097) 162
                            -67-90</a>
                    </li>
                    <li class="footer__item">
                        <a href="mailto:mandrykarpaty@gmail.com" aria-label="email"
                            class="footer__link link">mandrykarpaty@gmail.com</a>
                    </li>
                </ul>
            </div>
            <ul class="footer-networks list">
                <li class="footer-networks__item">
                    <a href="https://web.telegram.org/" class="footer-networks__link link"><svg
                            class="footer-networks__svg svg" width="33px" height="33px">
                            <use href="./images/svg/sprite.svg#telegram" />
                        </svg></a>
                </li>
                <li class="footer-networks__item">
                    <a href="https://www.instagram.com/" class="footer-networks__link link"><svg
                            class="footer-networks__svg svg" width="33px" height="33px">
                            <use href="./images/svg/sprite.svg#instagram" />
                        </svg></a>
                </li>
                <li class="footer-networks__item">
                    <a href="https://uk-ua.facebook.com/" class="footer-networks__link link"><svg
                            class="footer-networks__svg svg" width="33px" height="33px">
                            <use href="./images/svg/sprite.svg#facebook" />
                        </svg></a>
                </li>
            </ul>
        </div>
    </div>

    <p class="footer__text">© Сreated by LelekaSoft</p>
</footer>