<section class="section advantage" id="advantage">
    <div class="advantage__container">
        <h2 class="advantage__title">Наші переваги</h2>
        <ul class="advantage__list list anim-items anim-no">
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/sprite.svg#star_small" />
                </svg>авторські тури
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/sprite.svg#star_small" />
                </svg>індивідуальний підхід
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/sprite.svg#star_small" />
                </svg>доступні ціни
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/sprite.svg#star_small" />
                </svg>комфортабельний трансфер
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/sprite.svg#star_small" />
                </svg>професійні гіди
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/sprite.svg#star_small" />
                </svg>проживання у готелях від 3+ *
            </li>
        </ul>

        <ul class="advantage-gallery list">

            <li class="advantage-gallery__item">
                <picture>
                    <source srcset="
                ./images/preference/advantages_2_desk_1x-min.png 1x,
                ./images/preference/advantages_2_desk_2x-min.png 2x,
                ./images/preference/advantages_2_desk_3x-min.png 3x
              " media="(min-width:1440px)" />
                    <source srcset="
                ./images/preference/advantages_1_tab_1x-min.png 1x,
                ./images/preference/advantages_1_tab_2x-min.png 2x,
                ./images/preference/advantages_1_tab_3x-min.png 3x
              " media="(min-width:775px)" />
                    <img class="advantage-gallery__img" src="./images/preference/advantages_1_tab_1x-min.png"
                        alt="advantage" />
                </picture>
            </li>
            <li class="advantage-gallery__item ">
                <picture>
                    <source srcset="
                        ./images/preference/advantages_4_desk_1x-min.png 1x,
                        ./images/preference/advantages_4_desk_2x-min.png 2x,
                        ./images/preference/advantages_4_desk_3x-min.png 3x
                      " media="(min-width:1440px)" />
                    <img class="advantage-gallery__img" src="./images/preference/advantages_4_desk_1x-min.png"
                        alt="advantage" />
                </picture>
            </li>
            <li class="advantage-gallery__item">
                <picture>
                    <source srcset="
                ./images/preference/advantages_3_desk_1x-min.png 1x,
                ./images/preference/advantages_3_desk_2x-min.png 2x,
                ./images/preference/advantages_3_desk_3x-min.png 3x
              " media="(min-width:1440px)" />
                    <source srcset="
                ./images/preference/advantages_2_tab_1x-min.png 1x,
                ./images/preference/advantages_2_tab_2x-min.png 2x,
                ./images/preference/advantages_2_tab_3x-min.png 3x
              " media="(min-width:775px)" />
                    <source srcset="
                ./images/preference/advantages_mob_1x-min.png 1x,
                ./images/preference/advantages_mob_2x-min.png 2x,
                ./images/preference/advantages_mob_3x-min.png 3x
              " media="(max-width:774px)" />
                    <img class="advantage-gallery__img" src="./images/preference/advantages_mob_1x-min.png"
                        alt="advantage" />
                </picture>
            </li>


        </ul>
    </div>
</section>