<section class="section about" id="about">
    <div class="container">
        <h2 class="about__title">Про нас</h2>
        <p class="about__text">
            Подорожі - наше життя. Ми організовуємо тури в Карпати з 2007 року і
            жодного дня не нудьгували. Карпати - це багато цікавих і незвіданих місць,
            в яких варто побувати і показати їх іншим.
        </p>
        <p class="about__text">
            Приїзд до Карпат змусить вас забути про забруднений шумний світ і
            насолодитися незайманою природою. Від мальовничих лісів до чистих річок і
            озер та Карпатських струмків між горами, що дарують чарівні краєвиди, і
            дозволяють забути про усі проблеми і зайві думки.
        </p>
    </div>
</section>