.tours {
  &__title {
    @extend %font-title;
    text-align: center;
    color: $main-color;
  }
  &__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
  }
  &__item {
    display: block;
    width: 100%;
    max-height: 739px;
  }
  &__meta {
    @extend %font-subtitle;
    position: absolute;
    top: 190px;
    left: 0;
    z-index: 1000;
    color: $white-color;
    opacity: 0;
    transition: $cubic;
    &.is-active {
      opacity: 1;
    }
    @media screen and(max-width:767px) {
      top: 1px;
    }
  }
  &__subtitle {
    @extend %font-subtitle;
    margin: 0;
    padding: 5px 0px 5px 135px;
    width: 314px;
    background-color: $main-color;
    @media screen and(max-width:767px) {
      padding: 5px 0px 5px 40px;
      width: 200px;
    }
  }
  &__list {
    margin-top: 12px;
    margin-left: 135px;
    @media screen and(max-width:767px) {
      margin-left: 40px;
      margin-top: 2px;
    }
  }
  &__text {
    & + & {
      margin-top: 12px;
      @media screen and(max-width:767px) {
        margin-top: 2px;
      }
    }
  }
  &__btn {
    margin: 0 auto;
  }
  &__subtext {
    @extend %font-subtitle;
    margin: 20px 0;
    color: $main-color;
    text-align: center;
    @media screen and(min-width:767px) {
      margin-top: 40px;
    }
  }
}

.goverla {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 1280px;
  opacity: 0;
  pointer-events: none;
  transition: $cubic;
  opacity: 0;

  &.is-visible {
    position: relative;
    opacity: 1;
    pointer-events: all;
  }

}

.bukovel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
    max-width: 1280px;
  opacity: 0;
  pointer-events: none;
  transition: $cubic;
  &.is-visible {
    position: relative;
    opacity: 1;
    pointer-events: all;
  }
}

.carp {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
    max-width: 1280px;
  opacity: 0;
  pointer-events: none;
  transition: $cubic;
  &.is-visible {
    position: relative;
    opacity: 1;
    pointer-events: all;
  }
}
.chooseList {
  margin: 40px 0;
  @media screen and(min-width:1280px) {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  &-bullet {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 1000ms linear, height 1000ms linear,
      border-radius 1000ms linear;
    width: 30px;
    height: 30px;
  }
  &-bullet .day {
    font-size: 1px;
    opacity: 0;
    transition: opacity 1000ms linear, font-size 700ms linear;
  }
  &-bullet-active {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background-color: $main-color;
  }
  &-bullet-active .day {
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
}
