<section class="about">
    <div class="container">
        <h2 class="about__title">Про нас</h2>
        <p class="about__text">
            Подорожі - наша робота. Ми організовуємо тури в Карпати з 2007 року і
            жодного дня не нудьгували. Тому що Карпати - це багато невідомих і
            незвіданих місць, в яких варто побувати і показати їх іншим.
        </p>
        <p class="about__text">
            Приїзд до Карпат здатен змусити вас забути про забруднений шумний світ і
            насолодитися незайманою природою. З мальовничих лісів до чистих річок і
            озер, Карпатські гори дарують чарівні краєвиди, які змусять вас забути про
            будь-які проблеми.
        </p>
    </div>
</section>