<section class="advantage" id="advantage">
    <div class="advantage__container">
        <h2 class="advantage__title">Наші переваги</h2>

        <ul class="advantage__list">
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>авторські тури
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>індивідуальний підхід
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>доступні ціни
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>комфортабельний трансфер
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>професійні гіди
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>проживання у готелях від 3+ *
            </li>
        </ul>
        <ul class="advantage-gallery">
            <li class="advantage-gallery__item a">
                <picture>
                    <source srcset="
              ./images/preference/advantages_1_desk_1x-min.png 1x,
              ./images/preference/advantages_1_desk_2x-min.png 2x,
              ./images/preference/advantages_1_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
                    <img class="advantage-gallery__img" src="./images/preference/advantages_1_desk_1x-min.png"
                        alt="advantage" />
                </picture>
            </li>
            <li class="advantage-gallery__item b">
                <picture>
                    <source srcset="
              ./images/preference/advantages_2_desk_1x-min.png 1x,
              ./images/preference/advantages_2_desk_2x-min.png 2x,
              ./images/preference/advantages_2_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
                    <source srcset="
              ./images/preference/advantages_1_tab_1x-min.png 1x,
              ./images/preference/advantages_1_tab_2x-min.png 2x,
              ./images/preference/advantages_1_tab_3x-min.png 3x
            " media="(min-width:775px)" />
                    <img class="advantage-gallery__img" src="./images/preference/advantages_1_tab_1x-min.png"
                        alt="advantage" />
                </picture>
            </li>
            <li class="advantage-gallery__item c">
                <picture>
                    <source srcset="
              ./images/preference/advantages_3_desk_1x-min.png 1x,
              ./images/preference/advantages_3_desk_2x-min.png 2x,
              ./images/preference/advantages_3_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
                    <source srcset="
              ./images/preference/advantages_2_tab_1x-min.png 1x,
              ./images/preference/advantages_2_tab_2x-min.png 2x,
              ./images/preference/advantages_2_tab_3x-min.png 3x
            " media="(min-width:775px)" />
                    <source srcset="
              ./images/preference/advantages_mob_1x-min.png 1x,
              ./images/preference/advantages_mob_2x-min.png 2x,
              ./images/preference/advantages_mob_3x-min.png 3x
            " media="(max-width:774px)" />
                    <img class="advantage-gallery__img" src="./images/preference/advantages_mob_1x-min.png"
                        alt="advantage" />
                </picture>
            </li>

            <li class="advantage-gallery__item d">
                <picture>
                    <source srcset="
              ./images/preference/advantages_4_desk_1x-min.png 1x,
              ./images/preference/advantages_4_desk_2x-min.png 2x,
              ./images/preference/advantages_4_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
                    <img class="advantage-gallery__img" src="./images/preference/advantages_4_desk_1x-min.png"
                        alt="advantage" />
                </picture>
            </li>
        </ul>
    </div>
</section>
<!--<section class="advantage">
    <div class="advantage__container container">
        <h2 class="advantage__title">Наші переваги</h2>
        <ul class="advantage__list">
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>авторські тури
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>індивідуальний підхід
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>доступні ціни
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>комфортабельний трансфер
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>професійні гіди
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>проживання у готелях від 3+ зірок
            </li>
        </ul>
    </div>
    <picture>
        <source srcset="
        ./images/advantage/advant_desktop_1x.png 1x,
        ./images/advantage/advant_desktop_2x.png 2x,
        ./images/advantage/advant_desktop_3x.png 3x
      " media="(min-width:1440px)" />
        <source srcset="
        ./images/advantage/advant_tablet_1x.png 1x,
        ./images/advantage/advant_tablet_2x.png 2x,
        ./images/advantage/advant_tablet_3x.png 3x
      " media="(min-width:775px)" />
        <source srcset="
        ./images/advantage/advant_mobile_1x.png 1x,
        ./images/advantage/advant_mobile_2x.png 2x,
        ./images/advantage/advant_mobile_3x.png 3x
      " media="(max-width:774px)" />
        <img class="advantage-gallery__img" src="./images/advantage/advant_mobile_1x.png" alt="advantage" />
    </picture>
</section>-->