<section class="advantage">
    <div class="advantage__container container">
        <h2 class="advantage__title">Наші переваги</h2>
        <ul class="advantage__list">
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>авторські тури
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>індивідуальний підхід
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>доступні ціни
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>комфортабельний трансфер
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>професійні гіди
            </li>
            <li class="advantage__item">
                <svg class="advantage__icon" width="20px" height="20px">
                    <use href="./images/svg/icon.svg#star_small" />
                </svg>проживання у готелях від 3+ зірок
            </li>
        </ul>
    </div>
    <picture>
        <source srcset="
        ./images/advantage/advant_desktop_1x.png 1x,
        ./images/advantage/advant_desktop_2x.png 2x,
        ./images/advantage/advant_desktop_3x.png 3x
      " media="(min-width:1440px)" />
        <source srcset="
        ./images/advantage/advant_tablet_1x.png 1x,
        ./images/advantage/advant_tablet_2x.png 2x,
        ./images/advantage/advant_tablet_3x.png 3x
      " media="(min-width:775px)" />
        <source srcset="
        ./images/advantage/advant_mobile_1x.png 1x,
        ./images/advantage/advant_mobile_2x.png 2x,
        ./images/advantage/advant_mobile_3x.png 3x
      " media="(max-width:774px)" />
        <img class="advantage__img" src="./images/advantage/advant_mobile_1x.png" alt="advantage" />
    </picture>
</section>