<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <h2 class="footer__title">Контакти</h2>
            <div class="footer__content">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" target="_blank" rel="noopener noreferrer" class="footer__link">
                            <svg class="footer__svg" width="32px" height="32px">
                                <use href="./images/svg/icon.svg#place" />
                            </svg>
                            м. Львів, вул. Дорошенка, 44 к</a>
                    </li>
                    <li class="footer__item"><a href="tel:+380971626790" class="footer__link"><svg class="footer__svg"
                                width="32px" height="32px">
                                <use href="./images/svg/icon.svg#phone" />
                            </svg>+38 (097) 162 -67-90</a></li>
                    <li class="footer__item"><a href="mailto:mandrykarpaty@gmail.com" class="footer__link"><svg
                                class="footer__svg " width="32px" height="20px">
                                <use href="./images/svg/icon.svg#email" />
                            </svg>mandrykarpaty@gmail.com</a></li>
                </ul>
                <ul class="footer-networks">
                    <li class="footer-networks__item"><a href="" class="footer-networks__link"><svg
                                class="footer-networks__svg" width="33px" height="33px">
                                <use href="./images/svg/icon.svg#telegram" />
                            </svg></a></li>
                    <li class="footer-networks__item"><a href="" class="footer-networks__link"><svg
                                class="footer-networks__svg" width="33px" height="33px">
                                <use href="./images/svg/icon.svg#instagram" />
                            </svg></a></li>
                    <li class="footer-networks__item"><a href="" class="footer-networks__link"><svg
                                class="footer-networks__svg" width="33px" height="33px">
                                <use href="./images/svg/icon.svg#facebook" />
                            </svg></a></li>
                </ul>
            </div>
        </div>

        <p class="footer__text">© Made by LelekaSoft</p>
    </div>
</footer>