<section class="gallery">
  <div class="container">
    <h2 class="gallery__title">Галерея</h2>
    <ul class="filter-gallery">
      <li class="filter-gallery__item">
        <button class="filter-gallery__btn" type="button">Літо</button>
      </li>
      <li class="filter-gallery__item">
        <button class="filter-gallery__btn" type="button">Осінь</button>
      </li>
      <li class="filter-gallery__item">
        <button class="filter-gallery__btn" type="button">Зима</button>
      </li>
      <li class="filter-gallery__item">
        <button class="filter-gallery__btn" type="button">Весна</button>
      </li>
    </ul>
    <div>
      <ul class="gallery-summer__list">
        <li class="gallery-summer__item ">
          <picture>
            <source srcset="
              ./images/gallery/desk/summer_1_desk_1x-min.png 1x,
              ./images/gallery/desk/summer_1_desk_2x-min.png 2x,
              ./images/gallery/desk/summer_1_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
            <source srcset="
              ./images/gallery/tab/summer_1_tabl_1x.png 1x,
              ./images/gallery/tab/summer_1_tabl_2x.png 2x,
              ./images/gallery/tab/summer_1_tabl_3x.png 3x
            " media="(min-width:768px)" />
            <source srcset="
              ./images/gallery/mob/summer_1_mobile_1x.png 1x,
              ./images/gallery/mob/summer_1_mobile_2x.png 2x,
              ./images/gallery/mob/summer_1_mobile_3x.png 3x
            " media="(max-width:768px)" />
            <img class="gallery__img" src="./images/gallery/mob/summer_1_mobile_1x.png" alt="summer" />
          </picture>
        </li>
        <li class="gallery-summer__item ">
          <picture>
            <source srcset="
              ./images/gallery/desk/summer_2_desk_1x-min.png 1x,
              ./images/gallery/desk/summer_2_desk_2x-min.png 2x,
              ./images/gallery/desk/summer_2_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
            <source srcset="
              ./images/gallery/tab/summer_2_tabl_1x.png 1x,
              ./images/gallery/tab/summer_2_tabl_2x.png 2x,
              ./images/gallery/tab/summer_2_tabl_3x.png 3x
            " media="(min-width:768px)" />
            <source srcset="
              ./images/gallery/mob/summer_2_mobile_1x.png 1x,
              ./images/gallery/mob/summer_2_mobile_2x.png 2x,
              ./images/gallery/mob/summer_2_mobile_3x.png 3x
            " media="(max-width:768px)" />
            <img class="gallery__img" src="./images/gallery/mob/summer_2_mobile_1x.png" alt="summer" />
          </picture>
        </li>
        <li class="gallery-summer__item">
          <picture>
            <source srcset="
              ./images/gallery/desk/summer_3_desk_1x-min.png 1x,
              ./images/gallery/desk/summer_3_desk_2x-min.png 2x,
              ./images/gallery/desk/summer_3_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
            <source srcset="
              ./images/gallery/tab/summer_3_tabl_1x.png 1x,
              ./images/gallery/tab/summer_3_tabl_2x.png 2x,
              ./images/gallery/tab/summer_3_tabl_3x.png 3x
            " media="(min-width:768px)" />
            <source srcset="
              ./images/gallery/mob/summer_3_mobile_1x.png 1x,
              ./images/gallery/mob/summer_3_mobile_2x.png 2x,
              ./images/gallery/mob/summer_3_mobile_3x.png 3x
            " media="(max-width:768px)" />
            <img class="gallery__img special" src="./images/gallery/mob/summer_3_mobile_1x.png" alt="summer" />
          </picture>
        </li>
        <li class="gallery-summer__item">
          <picture>
            <source srcset="
              ./images/gallery/desk/summer_4_desk_1x-min.png 1x,
              ./images/gallery/desk/summer_4_desk_2x-min.png 2x,
              ./images/gallery/desk/summer_4_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
            <source srcset="
              ./images/gallery/tab/summer_4_tabl_1x.png 1x,
              ./images/gallery/tab/summer_4_tabl_2x.png 2x,
              ./images/gallery/tab/summer_4_tabl_3x.png 3x
            " media="(min-width:768px)" />
            <source srcset="
              ./images/gallery/mob/summer_4_mobile_1x.png 1x,
              ./images/gallery/mob/summer_4_mobile_2x.png 2x,
              ./images/gallery/mob/summer_4_mobile_3x.png 3x
            " media="(max-width:768px)" />
            <img class="gallery__img" src="./images/gallery/mob/summer_4_mobile_1x.png" alt="summer" />
          </picture>
        </li>
        <li class="gallery-summer__item">
          <picture>
            <source srcset="
              ./images/gallery/desk/summer_5_desk_1x-min.png 1x,
              ./images/gallery/desk/summer_5_desk_2x-min.png 2x,
              ./images/gallery/desk/summer_5_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
            <source srcset="
              ./images/gallery/tab/summer_5_tabl_1x.png 1x,
              ./images/gallery/tab/summer_5_tabl_2x.png 2x,
              ./images/gallery/tab/summer_5_tabl_3x.png 3x
            " media="(min-width:768px)" />
            <source srcset="
              ./images/gallery/mob/summer_5_mobile_1x.png 1x,
              ./images/gallery/mob/summer_5_mobile_2x.png 2x,
              ./images/gallery/mob/summer_5_mobile_3x.png 3x
            " media="(max-width:768px)" />
            <img class="gallery__img" src="./images/gallery/mob/summer_5_mobile_1x.png" alt="summer" />
          </picture>
        </li>
      </ul>
    </div>
    <ul class="gallery-autumn__list">
      <li class="gallery-autumn__item">
        <picture>
          <source srcset="
              ./images/gallery/desk/autumn_1_desk_1x-min.png 1x,
              ./images/gallery/desk/autumn_1_desk_2x-min.png 2x,
              ./images/gallery/desk/autumn_1_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/gallery/tab/autumn_1_tabl_1x.png 1x,
              ./images/gallery/tab/autumn_1_tabl_2x.png 2x,
              ./images/gallery/tab/autumn_1_tabl_3x.png 3x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/gallery/mob/autumn_1_mobile_1x-min.png 1x,
              ./images/gallery/mob/autumn_1_mobile_2x-min.png 2x,
              ./images/gallery/mob/autumn_1_mobile_3x-min.png 3x
            " media="(max-width:768px)" />
          <img class="gallery__img" src="./images/gallery/mob/autumn_1_mobile_1x-min.png" alt="autumn" />
        </picture>
      </li>
      <li class="gallery-autumn__item">
        <picture>
          <source srcset="
              ./images/gallery/desk/autumn_2_desk_1x-min.png 1x,
              ./images/gallery/desk/autumn_2_desk_2x-min.png 2x,
              ./images/gallery/desk/autumn_2_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/gallery/tab/autumn_2_tabl_1x.png 1x,
              ./images/gallery/tab/autumn_2_tabl_2x.png 2x,
              ./images/gallery/tab/autumn_2_tabl_3x.png 3x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/gallery/mob/autumn_2_mobile_1x-min.png 1x,
              ./images/gallery/mob/autumn_2_mobile_2x-min.png 2x,
              ./images/gallery/mob/autumn_2_mobile_3x-min.png 3x
            " media="(max-width:768px)" />
          <img class="gallery__img" src="./images/gallery/mob/autumn_2_mobile_1x-min.png" alt="autumn" />
        </picture>
      </li>
      <li class="gallery-autumn__item">
        <picture>
          <source srcset="
              ./images/gallery/desk/autumn_3_desk_1x-min.png 1x,
              ./images/gallery/desk/autumn_3_desk_2x-min.png 2x,
              ./images/gallery/desk/autumn_3_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/gallery/tab/autumn_3_tabl_1x.png 1x,
              ./images/gallery/tab/autumn_3_tabl_2x.png 2x,
              ./images/gallery/tab/autumn_3_tabl_3x.png 3x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/gallery/mob/autumn_3_mobile_1x-min.png 1x,
              ./images/gallery/mob/autumn_3_mobile_2x-min.png 2x,
              ./images/gallery/mob/autumn_3_mobile_3x-min.png 3x
            " media="(max-width:768px)" />
          <img class="gallery__img special" src="./images/gallery/mob/autumn_3_mobile_1x-min.png" alt="autumn" />
        </picture>
      </li>
      <li class="gallery-autumn__item">
        <picture>
          <source srcset="
              ./images/gallery/desk/autumn_4_desk_1x-min.png 1x,
              ./images/gallery/desk/autumn_4_desk_2x-min.png 2x,
              ./images/gallery/desk/autumn_4_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/gallery/tab/autumn_4_tabl_1x.png 1x,
              ./images/gallery/tab/autumn_4_tabl_2x.png 2x,
              ./images/gallery/tab/autumn_4_tabl_3x.png 3x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/gallery/mob/autumn_4_mobile_1x-min.png 1x,
              ./images/gallery/mob/autumn_4_mobile_2x-min.png 2x,
              ./images/gallery/mob/autumn_4_mobile_3x-min.png 3x
            " media="(max-width:768px)" />
          <img class="gallery__img" src="./images/gallery/mob/autumn_4_mobile_1x-min.png" alt="autumn" />
        </picture>
      </li>
      <li class="gallery-autumn__item">
        <picture>
          <source srcset="
              ./images/gallery/desk/autumn_5_desk_1x-min.png 1x,
              ./images/gallery/desk/autumn_5_desk_2x-min.png 2x,
              ./images/gallery/desk/autumn_5_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/gallery/tab/autumn_5_tabl_1x.png 1x,
              ./images/gallery/tab/autumn_5_tabl_2x.png 2x,
              ./images/gallery/tab/autumn_5_tabl_3x.png 3x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/gallery/mob/autumn_5_mobile_1x-min.png 1x,
              ./images/gallery/mob/autumn_5_mobile_2x-min.png 2x,
              ./images/gallery/mob/autumn_5_mobile_3x-min.png 3x
            " media="(max-width:768px)" />
          <img class="gallery__img" src="./images/gallery/mob/autumn_5_mobile_1x-min.png" alt="autumn" />
        </picture>
      </li>
    </ul>
    <ul class="gallery-winter__list">
      <li class="gallery-winter__item">
        <picture>
          <source srcset="
              ./images/gallery/desk/winter_1_desk_1x-min.png 1x,
              ./images/gallery/desk/winter_1_desk_2x-min.png 2x,
              ./images/gallery/desk/winter_1_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/gallery/tab/winter_1_tabl_1x.png 1x,
              ./images/gallery/tab/winter_1_tabl_2x.png 2x,
              ./images/gallery/tab/winter_1_tabl_3x.png 3x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/gallery/mob/winter_1_mobile_1x.png 1x,
              ./images/gallery/mob/winter_1_mobile_2x.png 2x,
              ./images/gallery/mob/winter_1_mobile_3x.png 3x
            " media="(max-width:768px)" />
          <img class="gallery__img" src="./images/gallery/mob/winter_1_mobile_1x.png" alt="winter" />
        </picture>
      </li>
      <li class="gallery-winter__item">
        <picture>
          <source srcset="
              ./images/gallery/desk/winter_2_desk_1x-min.png 1x,
              ./images/gallery/desk/winter_2_desk_2x-min.png 2x,
              ./images/gallery/desk/winter_2_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/gallery/tab/winter_2_tabl_1x.png 1x,
              ./images/gallery/tab/winter_2_tabl_2x.png 2x,
              ./images/gallery/tab/winter_2_tabl_3x.png 3x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/gallery/mob/winter_2_mobile_1x.png 1x,
              ./images/gallery/mob/winter_2_mobile_2x.png 2x,
              ./images/gallery/mob/winter_2_mobile_3x.png 3x
            " media="(max-width:768px)" />
          <img class="gallery__img" src="./images/gallery/mob/winter_2_mobile_1x.png" alt="winter" />
        </picture>
      </li>
      <li class="gallery-winter__item">
        <picture>
          <source srcset="
              ./images/gallery/desk/winter_3_desk_1x-min.png 1x,
              ./images/gallery/desk/winter_3_desk_2x-min.png 2x,
              ./images/gallery/desk/winter_3_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/gallery/tab/winter_3_tabl_1x.png 1x,
              ./images/gallery/tab/winter_3_tabl_2x.png 2x,
              ./images/gallery/tab/winter_3_tabl_3x.png 3x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/gallery/mob/winter_3_mobile_1x.png 1x,
              ./images/gallery/mob/winter_3_mobile_2x.png 2x,
              ./images/gallery/mob/winter_3_mobile_3x.png 3x
            " media="(max-width:768px)" />
          <img class="gallery__img special" src="./images/gallery/mob/winter_3_mobile_1x.png" alt="winter" />
        </picture>
      </li>
      <li class="gallery-winter__item">
        <picture>
          <source srcset="
              ./images/gallery/desk/winter_4_desk_1x-min.png 1x,
              ./images/gallery/desk/winter_4_desk_2x-min.png 2x,
              ./images/gallery/desk/winter_4_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/gallery/tab/winter_4_tabl_1x.png 1x,
              ./images/gallery/tab/winter_4_tabl_2x.png 2x,
              ./images/gallery/tab/winter_4_tabl_3x.png 3x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/gallery/mob/winter_4_mobile_1x.png 1x,
              ./images/gallery/mob/winter_4_mobile_2x.png 2x,
              ./images/gallery/mob/winter_4_mobile_3x.png 3x
            " media="(max-width:768px)" />
          <img class="gallery__img" src="./images/gallery/mob/winter_4_mobile_1x.png" alt="winter" />
        </picture>
      </li>
      <li class="gallery-winter__item">
        <picture>
          <source srcset="
              ./images/gallery/desk/winter_5_desk_1x-min.png 1x,
              ./images/gallery/desk/winter_5_desk_2x-min.png 2x,
              ./images/gallery/desk/winter_5_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/gallery/tab/winter_5_tabl_1x.png 1x,
              ./images/gallery/tab/winter_5_tabl_2x.png 2x,
              ./images/gallery/tab/winter_5_tabl_3x.png 3x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/gallery/mob/winter_5_mobile_1x.png 1x,
              ./images/gallery/mob/winter_5_mobile_2x.png 2x,
              ./images/gallery/mob/winter_5_mobile_3x.png 3x
            " media="(max-width:768px)" />
          <img class="gallery__img" src="./images/gallery/mob/winter_5_mobile_1x.png" alt="winter" />
        </picture>
      </li>
    </ul>
    <ul class="gallery-spring__list">
      <li class="gallery-spring__item">
        <picture>
          <source srcset="
              ./images/gallery/desk/spring_1_desk_1x-min.png 1x,
              ./images/gallery/desk/spring_1_desk_2x-min.png 2x,
              ./images/gallery/desk/spring_1_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/gallery/tab/spring_1_tabl_1x.png 1x,
              ./images/gallery/tab/spring_1_tabl_2x.png 2x,
              ./images/gallery/tab/spring_1_tabl_3x.png 3x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/gallery/mob/spring_1_mobile-1x.png 1x,
              ./images/gallery/mob/spring_1_mobile_2x.png 2x,
              ./images/gallery/mob/spring_1_mobile_3x.png 3x
            " media="(max-width:768px)" />
          <img class="gallery__img" src="./images/gallery/mob/spring_1_mobile-1x.png" alt="spring" />
        </picture>
      </li>
      <li class="gallery-spring__item">
        <picture>
          <source srcset="
              ./images/gallery/desk/spring_2_desk_1x-min.png 1x,
              ./images/gallery/desk/spring_2_desk_2x-min.png 2x,
              ./images/gallery/desk/spring_2_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/gallery/tab/spring_2_tabl_1x.png 1x,
              ./images/gallery/tab/spring_2_tabl_2x.png 2x,
              ./images/gallery/tab/spring_2_tabl_3x.png 3x
            " media="(min-width:768px)" />

          <source srcset="
              ./images/gallery/mob/spring_2_mobile_1x.png 1x,
              ./images/gallery/mob/spring_2_mobile_2x.png 2x,
              ./images/gallery/mob/spring_2_mobile_3x.png 3x
            " media="(max-width:768px)" />
          <img class="gallery__img" src="./images/gallery/mob/spring_2_mobile_1x.png" alt="spring" />
        </picture>
      </li>
      <li class="gallery-spring__item">
        <picture>
          <source srcset="
              ./images/gallery/desk/spring_3_desk_1x-min.png 1x,
              ./images/gallery/desk/spring_3_desk_2x-min.png 2x,
              ./images/gallery/desk/spring_3_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/gallery/tab/spring_3_tabl_1x.png 1x,
              ./images/gallery/tab/spring_3_tabl_2x.png 2x,
              ./images/gallery/tab/spring_3_tabl_3x.png 3x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/gallery/mob/spring_3_mobile_1x.png 1x,
              ./images/gallery/mob/spring_3_mobile_2x.png 2x,
              ./images/gallery/mob/spring_3_mobile_3x.png 3x
            " media="(max-width:768px)" />
          <img class="gallery__img special" src="./images/gallery/mob/spring_3_mobile_1x.png" alt="spring" />
        </picture>
      </li>
      <li class="gallery-spring__item">
        <picture>
          <source srcset="
              ./images/gallery/desk/spring_4_desk_1x-min.png 1x,
              ./images/gallery/desk/spring_4_desk_2x-min.png 2x,
              ./images/gallery/desk/spring_4_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/gallery/tab/spring_4_tabl_1x.png 1x,
              ./images/gallery/tab/spring_4_tabl_2x.png 2x,
              ./images/gallery/tab/spring_4_tabl_3x.png 3x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/gallery/mob/spring_4_mobile_1x.png 1x,
              ./images/gallery/mob/spring_4_mobile_2x.png 2x,
              ./images/gallery/mob/spring_4_mobile_3x.png 3x
            " media="(max-width:768px)" />
          <img class="gallery__img" src="./images/gallery/mob/spring_4_mobile_1x.png" alt="spring" />
        </picture>
      </li>
      <li class="gallery-spring__item">
        <picture>
          <source srcset="
              ./images/gallery/desk/spring_5_desk_1x-min.png 1x,
              ./images/gallery/desk/spring_5_desk_2x-min.png 2x,
              ./images/gallery/desk/spring_5_desk_3x-min.png 3x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/gallery/tab/spring_5_tabl_1x.png 1x,
              ./images/gallery/tab/spring_5_tabl_2x.png 2x,
              ./images/gallery/tab/spring_5_tabl_3x.png 3x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/gallery/mob/spring_5_mobile_1x.png 1x,
              ./images/gallery/mob/spring_5_mobile_2x.png 2x,
              ./images/gallery/mob/spring_5_mobile_3x.png 3x
            " media="(max-width:768px)" />
          <img class="gallery__img" src="./images/gallery/mob/spring_5_mobile_1x.png" alt="spring" />
        </picture>
      </li>
    </ul>
  </div>
</section>