<header class="header">
    <div class="header__container container">
        <a class="header__logo" href="#"><img class="header__img" src="./images/logo.png" width="44px" height="44px"
                alt="logo" /></a>
        <div class="navigation" id="menu">
            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item">
                        <a href="#" class="navigation__link">Про нас</a>
                    </li>
                    <li class="navigation__item">
                        <a href="#" class="navigation__link">Тури</a>
                    </li>
                    <li class="navigation__item">
                        <a href="#" class="navigation__link">Відгуки</a>
                    </li>
                    <li class="navigation__item">
                        <a href="#" class="navigation__link">Галерея</a>
                    </li>
                    <li class="navigation__item">
                        <a href="#" class="navigation__link">Контакти</a>
                    </li>
                </ul>
            </nav>
        </div>
        <button class="header__btn open close" type="button">
            <svg class="header__icon--open" width="28px" height="15px">
                <use class="header__icon--open" href="./images/svg/icon.svg#menu" />
            </svg>
            <svg class="header__icon--close" width="20px" height="20px">
                <use class="header__icon--close" href="./images/svg/icon.svg#close" />
            </svg>
        </button>
    </div>
</header>