<div class="modal open">
    <div class="modal__container">
        <form class="modal__form" action="#">
            <button type="button" class="modal__button"><svg class="modal__svg" width="15px" height="15px">
                    <use href='./images/svg/icon.svg#icon-close' />
                </svg></button>
            <h2 class="modal__title">Забронювати тур</h2>
            <p class="modal__text">Ви можете залишити тут свою заявку
                і наш менеджер зателефонує протягом 10 хвилин</p>
            <input class="modal__input" type="text" name="name" placeholder="Ваше ім’я*" />
            <input class="modal__input" type="text" name="number" placeholder="Номер телефону*" />
            <input class="modal__input" type="text" name="tour" placeholder="Який тур Вас зацікавив?" />
            <button class="modal__btn" type="submit">Подзвонити мені</button>
        </form>
    </div>
</div>