<section class="question" id="question">
    <form class="question__form" action="#">
        <h2 class="question__title">Залишилися питання?</h2>
        <p class="question__text">Ви можете залишити тут свої запитання
            і наш менеджер зателефонує протягом 10 хвилин</p>
        <input class="question__input" type="text" name="name" placeholder="Ваше ім’я*" />
        <input class="question__input" type="text" name="number" placeholder="Номер телефону*" />
        <input class="question__input" type="text" name="question" placeholder="Що б Ви хотіли дізнатись?" />
        <button class="question__btn" type="submit">Подзвонити мені</button>
    </form>
    <div class="question__img"></div>
</section>