<section class="reviews">
    <div class="container">
        <h2 class="reviews__title">Відгуки</h2>
        <ul class="reviews__list">
            <li class="reviews__item">
                <picture>
                    <source srcset="
              ./images/rewiev/Review_desk_1x.png 1x,
              ./images/rewiev/Review_desk_2x.png 2x,
              ./images/rewiev/Review_desk_3x.png 3x
            " media="(min-width:1440px)" />
                    <source srcset="
              ./images/rewiev/Review_tablet_1x.png 1x,
              ./images/rewiev/Review_tablet_2x.png 2x,
              ./images/rewiev/Review_tablet_3x.png 3x
            " media="(max-width:1439px)" />
                    <img class="reviews__img" src="./images/rewiev/Review_tablet_1x.png" alt="reviews" />
                </picture>

                <div class="reviews__content">
                    <img class="reviews__picture" src="./images/rewiev/Maria.png" alt="Maria" />
                    <h3 class="reviews__subtitle">Марія</h3>
                    <p class="reviews__text">
                        Було по справжньому круто! Бачили все - сонце, сніг, дощ, туман!
                        Дуже захопливо і цікаво, не пожалкували - варто піти і побачити все
                        своїми очима. Організовано все на вищому рівні.
                    </p>
                </div>
                <div class="reviews__card" id="one">
                    <picture>
                        <source srcset="
                ./images/rewiev/desk/Review_1_desk_1x-min.png 1x,
                ./images/rewiev/desk/Review_1_desk_2x-min.png 2x,
                ./images/rewiev/desk/Review_1_desk_3x-min.png 3x
              " media="(min-width:1440px)" />
                        <source srcset="
                ./images/rewiev/tab/Review_1_tab_1x-min.png 1x,
                ./images/rewiev/tab/Review_1_tab_2x-min.png 2x,
                ./images/rewiev/tab/Review_1_tab_3x-min.png 3x
              " media="(min-width:768px)" />
                        <source srcset="
                ./images/rewiev/mob/Review_1_mob_1x-min.png 1x,
                ./images/rewiev/mob/Review_1_mob_2x-min.png 2x,
                ./images/rewiev/mob/Review_1_mob_3x-min.png 3x
              " media="(max-width:768px)" />
                        <img src="./images/rewiev/mob/Review_1_mob_1x-min.png" alt="reviews" />
                    </picture>
                </div>

            </li>
            <li class="reviews__item">
                <picture>
                    <source srcset="
              ./images/rewiev/Review_desk_1x.png 1x,
              ./images/rewiev/Review_desk_2x.png 2x,
              ./images/rewiev/Review_desk_3x.png 3x
            " media="(min-width:1440px)" />
                    <source srcset="
              ./images/rewiev/Review_tablet_1x.png 1x,
              ./images/rewiev/Review_tablet_2x.png 2x,
              ./images/rewiev/Review_tablet_3x.png 3x
            " media="(max-width:1439px)" />
                    <img class="reviews__img" src="./images/rewiev/Review_tablet_1x.png" alt="reviews" />
                </picture>
                <div class="reviews__content">
                    <img class="reviews__picture" src="./images/rewiev/Ostap.png" alt="Ostap" />
                    <h3 class="reviews__subtitle">Остап</h3>
                    <p class="reviews__text">
                        Хороша організація, все пройшло без проблем. Привітний гід Тарас
                        впродовж усього туру розповідав цікаві факти про місцевість і
                        звичаї.
                    </p>
                </div>
                <div class="reviews__card" id="two">
                    <picture>
                        <source srcset="
                ./images/rewiev/desk/Review_2_desk_1x-min.png 1x,
                ./images/rewiev/desk/Review_2_desk_2x-min.png 2x,
                ./images/rewiev/desk/Review_2_desk_3x-min.png 3x
              " media="(min-width:1440px)" />
                        <source srcset="
                ./images/rewiev/tab/Review_2_tab_1x-min.png 1x,
                ./images/rewiev/tab/Review_2_tab_2x-min.png 2x,
                ./images/rewiev/tab/Review_2_tab_3x-min.png 3x
              " media="(min-width:768px)" />
                        <source srcset="
                ./images/rewiev/mob/Review_2_mob_1x-min.png 1x,
                ./images/rewiev/mob/Review_2_mob_2x-min.png 2x,
                ./images/rewiev/mob/Review_2_mob_3x-min.png 3x
              " media="(max-width:768px)" />
                        <img src="./images/rewiev/mob/Review_2_mob_1x-min.png" alt="reviews" />
                    </picture>
                </div>

            </li>
            <li class="reviews__item">
                <picture>
                    <source srcset="
              ./images/rewiev/Review_desk_1x.png 1x,
              ./images/rewiev/Review_desk_2x.png 2x,
              ./images/rewiev/Review_desk_3x.png 3x
            " media="(min-width:1440px)" />
                    <source srcset="
              ./images/rewiev/Review_tablet_1x.png 1x,
              ./images/rewiev/Review_tablet_2x.png 2x,
              ./images/rewiev/Review_tablet_3x.png 3x
            " media="(max-width:1439px)" />
                    <img class="reviews__img" src="./images/rewiev/Review_tablet_1x.png" alt="reviews" />
                </picture>
                <div class="reviews__content">
                    <img class="reviews__picture" src="./images/rewiev/Hanna.png" alt="Hanna" />
                    <h3 class="reviews__subtitle">Ганна</h3>
                    <p class="reviews__text">
                        Хто вперше збирається в гори - це саме той тур та люди,які
                        організовують все. Гід Макар - це цікаві історії, підбір маршруту
                        для комфортного підйому, мотивація та підтримка.
                    </p>
                </div>
                <div class="reviews__card" id="three">
                    <picture>
                        <source srcset="
                ./images/rewiev/desk/Review_3_desk_1x-min.png 1x,
                ./images/rewiev/desk/Review_3_desk_2x-min.png 2x,
                ./images/rewiev/desk/Review_3_desk_3x-min.png 3x
              " media="(min-width:1440px)" />
                        <source srcset="
                ./images/rewiev/tab/Review_3_tab_1x-min.png 1x,
                ./images/rewiev/tab/Review_3_tab_2x-min.png 2x,
                ./images/rewiev/tab/Review_3_tab_3x-min.png 3x
              " media="(min-width:768px)" />
                        <source srcset="
                ./images/rewiev/mob/Review_3_mob_1x-min.png 1x,
                ./images/rewiev/mob/Review_3_mob_2x-min.png 2x,
                ./images/rewiev/mob/Review_3_mob_3x-min.png 3x
              " media="(max-width:768px)" />
                        <img src="./images/rewiev/mob/Review_3_mob_1x-min.png" alt="reviews" />
                    </picture>
                </div>

            </li>
            <li class="reviews__item">
                <picture>
                    <source srcset="
              ./images/rewiev/Review_desk_1x.png 1x,
              ./images/rewiev/Review_desk_2x.png 2x,
              ./images/rewiev/Review_desk_3x.png 3x
            " media="(min-width:1440px)" />
                    <source srcset="
              ./images/rewiev/Review_tablet_1x.png 1x,
              ./images/rewiev/Review_tablet_2x.png 2x,
              ./images/rewiev/Review_tablet_3x.png 3x
            " media="(max-width:1439px)" />
                    <img class="reviews__img" src="./images/rewiev/Review_tablet_1x.png" alt="reviews" />
                </picture>
                <div class="reviews__content">
                    <img class="reviews__picture" src="./images/rewiev/Iryna.png" alt="Iryna" />
                    <h3 class="reviews__subtitle">Ірина</h3>
                    <p class="reviews__text">
                        Ми відвідали Карпати на нашому останньому відпочинку та були дуже
                        вражені! Туроператор забезпечив нам чудове проживання в сучасному
                        котеджі з видом на гори.
                    </p>
                </div>
                <div class="reviews__card" id="four">
                    <picture>
                        <source srcset="
                ./images/rewiev/desk/Review_4_desk_1x-min.png 1x,
                ./images/rewiev/desk/Review_4_desk_2x-min.png 2x,
                ./images/rewiev/desk/Review_4_desk_3x-min.png 3x
              " media="(min-width:1440px)" />
                        <source srcset="
                ./images/rewiev/tab/Review_4_tab_1x-min.png 1x,
                ./images/rewiev/tab/Review_4_tab_2x-min.png 2x,
                ./images/rewiev/tab/Review_4_tab_3x-min.png 3x
              " media="(min-width:768px)" />
                        <source srcset="
                ./images/rewiev/mob/Review_4_mob_1x-min.png 1x,
                ./images/rewiev/mob/Review_4_mob_2x-min.png 2x,
                ./images/rewiev/mob/Review_4_mob_3x-min.png 3x
              " media="(max-width:768px)" />
                        <img src="./images/rewiev/mob/Review_4_mob_1x-min.png" alt="reviews" />
                    </picture>
                </div>

            </li>
            <li class="reviews__item">
                <picture>
                    <source srcset="
              ./images/rewiev/Review_desk_1x.png 1x,
              ./images/rewiev/Review_desk_2x.png 2x,
              ./images/rewiev/Review_desk_3x.png 3x
            " media="(min-width:1440px)" />
                    <source srcset="
              ./images/rewiev/Review_tablet_1x.png 1x,
              ./images/rewiev/Review_tablet_2x.png 2x,
              ./images/rewiev/Review_tablet_3x.png 3x
            " media="(max-width:1439px)" />
                    <img class="reviews__img" src="./images/rewiev/Review_tablet_1x.png" alt="reviews" />
                </picture>
                <div class="reviews__content">
                    <img class="reviews__picture" src="./images/rewiev/Mikhailo.png" alt="Mikhailo" />
                    <h3 class="reviews__subtitle">Михайло</h3>
                    <p class="reviews__text">
                        Я просто закохався в Карпати! Це неймовірна природа з джерелами,
                        водоспадами та гірськими лісами. Я був дуже вражений нашим туром та
                        залишився задоволений послугами туроператора.
                    </p>
                </div>
                <div class="reviews__card" id="five">
                    <picture>
                        <source srcset="
                ./images/rewiev/desk/Review_5_desk_1x-min.png 1x,
                ./images/rewiev/desk/Review_5_desk_2x-min.png 2x,
                ./images/rewiev/desk/Review_5_desk_3x-min.png 3x
              " media="(min-width:1440px)" />
                        <source srcset="
                ./images/rewiev/tab/Review_5_tab_1x-min.png 1x,
                ./images/rewiev/tab/Review_5_tab_2x-min.png 2x,
                ./images/rewiev/tab/Review_5_tab_3x-min.png 3x
              " media="(min-width:768px)" />
                        <source srcset="
                ./images/rewiev/mob/Review_5_mob_1x-min.png 1x,
                ./images/rewiev/mob/Review_5_mob_2x-min.png 2x,
                ./images/rewiev/mob/Review_5_mob_3x-min.png 3x
              " media="(max-width:768px)" />
                        <img src="./images/rewiev/mob/Review_5_mob_1x-min.png" alt="reviews" />
                    </picture>
                </div>

            </li>
            <li class="reviews__item">
                <picture>
                    <source srcset="
              ./images/rewiev/Review_desk_1x.png 1x,
              ./images/rewiev/Review_desk_2x.png 2x,
              ./images/rewiev/Review_desk_3x.png 3x
            " media="(min-width:1440px)" />
                    <source srcset="
              ./images/rewiev/Review_tablet_1x.png 1x,
              ./images/rewiev/Review_tablet_2x.png 2x,
              ./images/rewiev/Review_tablet_3x.png 3x
            " media="(max-width:1439px)" />
                    <img class="reviews__img" src="./images/rewiev/Review_tablet_1x.png" alt="reviews" />
                </picture>
                <div class="reviews__content">
                    <img class="reviews__picture" src="./images/rewiev/Natalia.png" alt="Natalia" />
                    <h3 class="reviews__subtitle">Наталія</h3>
                    <p class="reviews__text">
                        Я була у Карпатах на зимових святах та була дуже задоволена своїм
                        туром. Туроператор забезпечив мені чудові умови для катання на лижах
                        та проживання в затишному готелі.
                    </p>
                </div>
                <div class="reviews__card" id="six">
                    <picture>
                        <source srcset="
                ./images/rewiev/desk/Review_6_desk_1x-min.png 1x,
                ./images/rewiev/desk/Review_6_desk_2x-min.png 2x,
                ./images/rewiev/desk/Review_6_desk_3x-min.png 3x
              " media="(min-width:1440px)" />
                        <source srcset="
                ./images/rewiev/tab/Review_6_tab_1x-min.png 1x,
                ./images/rewiev/tab/Review_6_tab_2x-min.png 2x,
                ./images/rewiev/tab/Review_6_tab_3x-min.png 3x
              " media="(min-width:768px)" />
                        <source srcset="
                ./images/rewiev/mob/Review_6_mob_1x-min.png 1x,
                ./images/rewiev/mob/Review_6_mob_2x-min.png 2x,
                ./images/rewiev/mob/Review_6_mob_3x-min.png 3x
              " media="(max-width:768px)" />
                        <img src="./images/rewiev/mob/Review_6_mob_1x-min.png" alt="reviews" />
                    </picture>
                </div>

            </li>
        </ul>
        <div class="reviews__wrapper">
            <button class="reviews__btn" id="minus" type="button">
                <svg class="reviews__svg" width="15px" height="27px">
                    <use href="./images/svg/icon.svg#left" />
                </svg></button><button class="reviews__btn" id="plus" type="button">
                <svg class="reviews__svg" width="15px" height="27px">
                    <use href="./images/svg/icon.svg#right" />
                </svg>
            </button>
        </div>
    </div>
</section>