<section class="tour" id="tour">
    <div class="tour__container container">
        <h2 class="tour__title">Найближчі тури</h2>
        <ul class="tour__list">
            <li class="tour__item"><button class="tour__btn" type="button">Сходження на Говерлу</button></li>
            <li class="tour__item"><button class="tour__btn" type="button">Лижний тур на Буковель</button></li>
            <li class="tour__item"><button class="tour__btn" type="button">Тиждень в Карпатах</button></li>
        </ul>
    </div>
    <div class="tour__wrapper">
        <ul class="tour-one">
            <li class="tour-first__item"></li>
            <li class="tour-first__item"></li>
            <li class="tour-first__item"></li>
        </ul>
        <p class="tour__text">4 499 грн./людина</p>
        <button class="tour__button" type="button">Забронювати тур</button>
    </div>
    <div class="tour__wrapper">
        <ul class="tour-two">
            <li class="tour-two__item"></li>
            <li class="tour-two__item"></li>
            <li class="tour-two__item"></li>
            <li class="tour-two__item"></li>
            <li class="tour-two__item"></li>
        </ul>
        <p class="tour__text">7 499 грн./людина</p>
        <button class="tour__button" type="button">Забронювати тур</button>
    </div>
    <div class="tour__wrapper">
        <ul class="tour-three">
            <li class="tour-three__item"></li>
            <li class="tour-three__item"></li>
            <li class="tour-three__item"></li>
            <li class="tour-three__item"></li>
            <li class="tour-three__item"></li>
        </ul>
        <p class="tour__text">9 999 грн./людина</p>
        <button class="tour__button" type="button">Забронювати тур</button>
    </div>
</section>