.about {
  padding: 780px 0 60px 0;
  @media screen and(min-width: $tablet) {
    padding: 820px 0 80px 0;
  }
  @media screen and(min-width: $desktop) {
    padding: 1020px 0 80px 0;
  }
}
.about__title {
  @extend %font-title;
  color: $green;
  margin-bottom: 20px;
  text-align: center;
  @media screen and(min-width: $tablet) {
    margin-bottom: 40px;
  }
  @media screen and(min-width: $desktop) {
    margin-bottom: 60px;
  }
}
.about__text {
@extend %font-text;
  color: $dark;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  @media screen and(min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
