.gallery {
  padding: 60px 0;
  @media screen and(min-width: $tablet) {
    padding: 80px 0;
  }
}
.gallery__title {
  @extend %font-title;
  text-align: center;
  color: $green;
  margin-bottom: 20px;
  @media screen and(min-width: $tablet) {
    margin-bottom: 40px;
  }
  @media screen and(min-width: $desktop) {
    margin-bottom: 60px;
  }
}
.filter-gallery {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  @media screen and(max-width: $tablet) {
    flex-wrap: wrap;
  }
  @media screen and(min-width: $tablet) {
    margin-bottom: 40px;
  }
  @media screen and(min-width: $desktop) {
    margin-bottom: 60px;
  }
}
.filter-gallery__item {
  margin-right: 20px;
  @media screen and(max-width: $tablet) {
    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 12px;
    }
  }
  @media screen and(min-width: $tablet) {
    &:nth-child(4) {
      margin-right: 0;
    }
  }
}
.filter-gallery__btn {
  @extend %font-subtitle;
  text-align: center;
  color: $green;
  width: 147px;
  height: 52px;
  background-color: $light;
  outline: none;
  border: none;
  &:hover, 
  &:active,
  &:focus {
    background-color: $green;
    color: $light;
  }
  @media screen and(min-width: $tablet) {
    width: 167px;
    height: 60px;
  }
  @media screen and(min-width: $desktop) {
    width: 278px;
    height: 70px;
  }

}
.gallery__img {
max-width: 315px;
  height: 560px;
  @media screen and(min-width: $tablet) {
    max-width: 196px;
    height: 170px;
  }
  @media screen and(min-width: $desktop) {
    max-width: 329px;
    height: 254px;
  }
&.special {
  @media screen and(min-width: $tablet) {
    max-width: 312px;
    height: 350px;
  }
  @media screen and(min-width: $desktop) {
    max-width: 471px;
    height: 528px;
  }
}
}
.gallery-summer__list,
.gallery-spring__list,
.gallery-winter__list,
.gallery-autumn__list {
 display: none;
 &.active{
  display: block;
@media screen and(min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
   // align-items: baseline;
    justify-content: space-between;
  }

 }
    
}
.gallery-summer__item,
.gallery-spring__item,
.gallery-winter__item,
.gallery-autumn__item {
 display: block;
 @media screen and(min-width: $tablet) {
  &:nth-child(odd){
      margin-bottom: 12px;}
      &:last-child{
        margin-bottom: 0;
      }
    &.special {
       height: 171px;}
  }
       @media screen and(min-width: $desktop) {
         height: 254px;
          &:nth-child(odd) {
              margin-bottom: 20px;
            }
       }
}
.modal-gallery{
  width: 768px;
    height: 100vh;
    background-color: rgba(32, 35, 33, 0.5);
    z-index: 1;
     display: none;
      padding: 38px 50px 22px 50px;
      position: fixed;
      top: 0;
        left: 50%;
        transform: translate(-50%, 0);
}
.modal-gallery__btn{
 border: none;
 outline: none;
 width: 40px;height: 40px;
margin-left: auto;
  display: flex;
}
.modal-gallery__content{
margin: auto;
display: block;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);}

.navigation__btn {
  border: none;
  outline: none;
  width: 28px;
  height: 28px;

  &:not(:last-child) {
    margin-right: 20px;
  }

  @media screen and(min-width: $tablet) {
    width: 40px;
    height: 40px;

    &:not(:last-child) {
      margin-right: 70px;
    }
  }
}

.navigation__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @media screen and(min-width: $tablet) {
display: none;
  }
}