.header {
  margin: 0 auto;
  position: relative;
  z-index: 20;
  @media screen and(max-width: $tablet) {
    width: 375px;
  }
  @media screen and(min-width: $tablet) and(max-width: $desktop) {
    width: 768px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  @media screen and(min-width: $tablet) and(max-width: $desktop) {
    padding: 28px 46px 0 82px;
  }

  @media screen and(min-width: $desktop) {
    padding-top: 40px;
  }
}
.header__logo {
  z-index: 20;
}
.navigation__nav {
  @media screen and(max-width: $tablet) {
    margin-top: 133px;
    margin-bottom: 47px;
  }
  @media screen and(min-width: $tablet) and(max-width: $desktop) {
    margin-top: 180px;
    margin-bottom: 60px;
  }
}
.navigation__list {
  display: flex;

  @media screen and(max-width: $desktop) {
    flex-direction: column;
  }
}
.navigation__item {
  @media screen and(max-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and(min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  @media screen and(min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 80px;
    }
    margin-bottom: 0;
  }
}
.navigation__link {
@extend %font-header;
  color: $light;
  &:hover,
  &:focus {
    color: $green;
  }
}
.navigation-networks__item {
  &:not(:last-child) {
    margin-bottom: 35px;
  }
  @media screen and(min-width: $tablet) and(max-width: $desktop) {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}
.header__img {
  width: 56px;
  height: 26px;
  @media screen and(min-width: $tablet) {
    width: 66px;
    height: 31px;
  }
  @media screen and(min-width: $desktop) {
    width: 80px;
    height: 38px;
  }
}
.header__btn {
  border: none;
  outline: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  z-index: 20;
  @media screen and(min-width: $desktop) {
    display: none;
  }
}

.navigation {
  display: flex;
  @media screen and(max-width: $desktop) {
    display: none;
  }
  &.is-open {
    @media screen and(max-width: $desktop) {
      width: 375px;
      height: 100vh;
      display: flex;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-left: 30px;
      align-items: flex-start;
      flex-direction: column;
      overflow-y: scroll;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('../images/menu/hero_mob_menu_1x.png');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../images/menu/hero_mob_menu_2x.png');
      }

      @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: url('../images/menu/hero_mob_menu_3x.png');
      }

      @media screen and(min-width: $tablet) {
        width: 768px;
        padding-left: 82px;
        background-image: url('../images/menu/hero_tab_menu_1x.png');

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url('../images/menu/hero_tab_menu_2x.png');
        }

        @media screen and (min-device-pixel-ratio: 3),
          screen and (min-resolution: 288dpi),
          screen and (min-resolution: 3dppx) {
          background-image: url('../images/menu/hero_tab_menu_3x.png');
        }
      }
    }
  }
}
.navigation {
  &.is-open ~ .header__btn {
    .header__icon--close {
      display: block;
    }
    .header__icon--open {
      display: none;
    }

    .header__icon--close {
      display: block;
    }
  }
}
.header__icon--close {
  display: none;
}
.navigation-networks {
  margin-left: 33px;
  @media screen and(min-width: $tablet) {
    display: flex;
    margin-left: 0;
  }
  @media screen and(min-width: $desktop) {
    position: absolute;
    bottom: -640%;
    right: 9%;
    margin: 0;
    display: block;
  }
}
