.question {
  position: relative;
}
.question__title {
  @extend %font-modal;
  text-align: center;
  color: $green;
  margin-bottom: 20px;
  @media screen and(min-width: $desktop) {
    margin-bottom: 16px;
  }
}
.question__text {
  @extend %font-text;
  text-align: center;
  color: $dark;
  max-width: 308px;
  margin-bottom: 20px;
  @media screen and(min-width: $tablet) {
    max-width: 384px;
    margin-bottom: 12px;
  }
  @media screen and(min-width: $desktop) {
    max-width: 575px;
  }
}
.question__form {
  padding: 20px 15px;
  max-width: 315px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $light;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and(min-width: $tablet) {
    padding: 20px 42px 45px 42px;
    max-width: 478px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and(min-width: $desktop) {
    padding: 40px 100px;
    max-width: 774px;
  }
}
.question__input {
  @extend %font-text;
  text-align: start;
  color: $green;
  border: none;
  outline: none;
  padding: 2px;
  width: 285px;
  height: 26px;
  border-bottom: 1px solid $green;
  background-color: transparent;
  @extend %hover-input;
  @extend %active-input;
  margin-bottom: 20px;
  &:nth-child(3n + 2) {
    margin-bottom: 0;
  }
  &::placeholder {
    color: $grey;
  }
  @media screen and(min-width: $tablet) {
    width: 354px;
    height: 31px;
  }
  @media screen and(min-width: $desktop) {
    width: 575px;
    height: 53px;
    margin-bottom: 12px;
  }
}
.question__btn {
  @extend %font-subtitle;
  color: $light;
  width: 285px;
  height: 56px;
  background-color: $green;
  border: none;
  outline: none;
  margin-top: 30px;
  text-transform: uppercase;
  @extend %hover-style;
  @extend %active-style;
  @media screen and(min-width: $tablet) {
    width: 394px;
    margin-top: 20px;
  }
  @media screen and(min-width: $desktop) {
    margin-top: 40px;
    width: 575px;
    height: 69px;
  }
}
.question__img {
  min-width: 100%;
  height: 632px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/questions/question_mobile_1x.png');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/questions/question_mobile_2x.png');
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: url('../images/questions/question_mobile_3x.png');
  }
  @media screen and(min-width: $tablet) {
    height: 569px;
    background-image: url('../images/questions/qustioen_tablet_1x.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/questions/question_tablet_2x.png');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/questions/question_tablet_3x.png');
    }
  }

  @media screen and(min-width: $desktop) {
    height: 920px;
    background-image: url('../images/questions/question_desk_1x.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/questions/question_desk_2x.png');
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/questions/question_desk_3x.png');
    }
  }
}
