.reviews {
  padding: 60px 0;

  @media screen and(min-width: $tablet) {
    padding: 80px 0;
  }
}
.reviews__list {
  @media screen and(min-width: $tablet) {
    display: flex;
  }
}
.reviews__title {
  @extend %font-title;
  text-align: center;
  color: $green;
  margin-bottom: 20px;

  @media screen and(min-width: $tablet) {
    margin-bottom: 40px;
  }

  @media screen and(min-width: $desktop) {
    margin-bottom: 60px;
  }
}
.reviews__item {
  width: 315px;
  height: 452px;
  position: relative;
  background-color: $light;
  border: 1px solid #395c4b;
  transition: transform 1s cubic-bezier(0.4, 1, 0, 1);
  @media screen and(min-width: $tablet) {
    width: 354px;
    height: 507px;
    &:nth-child(odd) {
      margin-right: 20px;
    }
  }
  @media screen and(min-width: $desktop) {
    width: 377px;
    height: 590px;
    margin-right: 20px;
    &:nth-child(6) {
      margin-right: 0;
    }
    &:nth-child(3) {
      margin-right: 0;
    }
  }

  &.is-transform {
    transform: rotateY(-180deg);
    border: 0;
  }
}

.reviews__content {
  padding: 20px 48px 38px 48px;
  @media screen and(min-width: $tablet) {
    padding: 20px 16px 60px 16px;
  }
  @media screen and(min-width: $desktop) {
    padding: 20px 28px 52px 28px;
  }
}
.reviews__picture {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -60%);
  @media screen and(min-width: $tablet) {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -80%);
  }
  @media screen and(min-width: $desktop) {
    width: 125px;
    height: 125px;
  }
}
.reviews__subtitle {
  @extend %font-subtitle;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 12px;
  color: $green;
  @media screen and(min-width: $tablet) {
    margin-bottom: 20px;
  }
  @media screen and(min-width: $desktop) {
    margin-top: 60px;
  }
}
.reviews__text {
  @extend %font-text;
  color: $dark;
}
.reviews__btn {
  border: none;
  outline: none;
  width: 28px;
  height: 28px;
  &:not(:last-child) {
    margin-right: 20px;
  }
  @media screen and(min-width: $tablet) {
    width: 40px;
    height: 40px;
    &:not(:last-child) {
      margin-right: 70px;
    }
  }
}
.reviews__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  @media screen and(min-width: $tablet) {
    margin-top: 40px;
  }
}
.reviews__card {
  position: absolute;
  top: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  &.current {
    backface-visibility: visible;
  }
}
.reviews__button {
  position: absolute;
  top: 90%;
  left: 80%;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
}
