.tour {
  padding: 60px 0;
}
.tour__container {
  display: flex;
  flex-direction: column;
}

.tour__title {
  @extend %font-title;
  color: $green;
  margin: 0 auto 20px auto;
  @media screen and(min-width: $tablet) {
    margin-bottom: 40px;
  }
  @media screen and(min-width: $desktop) {
    margin-bottom: 60px;
  }
}
.tour__list {
  margin: 0 auto;
  @media screen and(min-width: $desktop) {
    display: flex;
  }
}
.tour__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.tour__btn {
  border: none;
  outline: none;
  width: 315px;
  height: 48px;
  padding: 13px 62px;
  @extend %font-subtitle;
  color: $green;
  text-align: center;
  @media screen and(min-width: $tablet) {
    width: 604px;
    height: 86px;
    padding: 30px 182px;
  }
  @media screen and(min-width: $desktop) {
    width: 377px;
    height: 116px;
    padding: 20px 50px;
  }

  &:active,
  &:hover,
  &:focus {
    background-color: $green;
    color: $light;
  }
}
.tour__text {
  @extend %font-subtitle;
  color: $green;
  margin-bottom: 20px;
  margin-top: 20px;
@media screen and(min-width: $tablet) {
    margin-top: 40px;
}
  @media screen and(min-width: $desktop) {
    margin-bottom: 24px;
  }
}
.tour__button {
  border: none;
  outline: none;
  @extend %font-subtitle;
  width: 285px;
  height: 56px;
  background-color: $green;
  color: $light;
  text-transform: uppercase;
  text-align: center;
  padding: 17px 66px;
@media screen and(min-width: $tablet) {
width: 394px;
    height: 56px;
padding: 14px 101px;
}
 @media screen and(min-width: $desktop) {
width: 575px;
height: 69px;
padding: 15px 154px;}
}
.tour__wrapper{
    display: flex;
        flex-direction: column;
        /* margin: 0 auto; */
        align-items: center;
}