.modal {
  display: none;
  &.open {
    display: flex;
    width: 100vw;
    height: 788px;
    z-index: 30;
    background-color: rgba(32, 35, 33, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    @media screen and(min-width: $tablet) {
      width: 768px;
      height: 818px;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
    @media screen and(min-width: $desktop) {
      width: 1440px;
      height: 1068px;
    }
  }
}
.modal__container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 40%);

  @media screen and(min-width: $desktop) {
    transform: translate(-50%, 20%);
  }
}
.modal__title {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: $green;
  margin-bottom: 20px;
margin-top: 30px;
  @media screen and(min-width: $tablet) {
    font-size: 32px;
    line-height: 1.34;
  }

  @media screen and(min-width: $desktop) {
    font-size: 70px;
    line-height: 1.32;
        margin-top: 60px;
  }
}

.modal__text {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: $dark;
  max-width: 308px;
  margin-bottom: 20px;

  @media screen and(min-width: $tablet) {
    max-width: 384px;
    font-size: 20px;
    line-height: 1.35;
    margin-bottom: 12px;
  }

  @media screen and(min-width: $desktop) {
    font-size: 24px;
    line-height: 1.37;
    max-width: 575px;
  }
}

.modal__form {
  padding: 12px 30px 60px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $light;

  @media screen and(min-width: $tablet) {
    padding: 20px 42px 60px 42px;
    max-width: 478px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and(min-width: $desktop) {
    padding: 40px 98px 130px 98px;
    min-width: 774px;
  }
}

.modal__input {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  text-align: start;
  color: $grey;
  border: none;
  outline: none;
  padding: 2px;
  width: 315px;
  height: 26px;
  border-bottom: 1px solid $green;
  background-color: transparent;
  margin-bottom: 20px;
  &:nth-child(3n + 3) {
    margin-bottom: 0;
  }

  @media screen and(min-width: $tablet) {
    width: 354px;
    height: 31px;
    font-size: 20px;
    line-height: 1.35;
  }

  @media screen and(min-width: $desktop) {
    font-size: 24px;
    line-height: 1.37;
    width: 575px;
    height: 53px;
    margin-bottom: 12px;
  }
}

.modal__btn {
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  color: $light;
  width: 285px;
  height: 56px;
  background-color: $green;
  border: none;
  outline: none;
  margin-top: 20px;
  text-transform: uppercase;
  @extend %hover-style;
    @extend %active-style;
  @media screen and(min-width: $tablet) {
    width: 394px;
    font-size: 20px;
    line-height: 1.35;
  }

  @media screen and(min-width: $desktop) {
    margin-top: 40px;
    width: 575px;
    height: 69px;
    font-size: 28px;
  }
}
.modal__button {
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
position: absolute;
  top: 10px;
  right: 10px;
//  @media screen and(min-width: $tablet) {
//    margin-bottom: 10px;
//  }
 @media screen and(min-width: $desktop) {
  top: 40px;
    right: 40px;
 }
}
.modal__svg {
  fill: $green;
  @media screen and(min-width: $tablet) {
    width: 20px;height: 20px;
  }
}
