.modal {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white-color;
  opacity: 0;
  pointer-events: none;
  transition: $cubic;
  min-width: 280px;
  min-height: 320px;
  &.is-open {
    opacity: 1;
    pointer-events: all;
  }
  @media screen and(max-width:767px) {
    padding: 60px 30px;
  }
  @media screen and(min-width:768px) and(max-width:1279px) {
    padding: 60px 42px;
  }
  @media screen and(min-width:1280px) {
    padding: 100px 98px 130px 98px;
  }
}
