.modalOrderTour {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 774px;

  &__title {
    @extend %font-modalTitle;
  }

  &__subTitle {
    @extend %font-maintext;
    margin-top: 20px;
    color: $main-color-text;
    width: 100%;

    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 22px;

    @media screen and(min-width:768px) and(max-width:1279px) {
      gap: 22px;
      margin-top: 20px;
    }

    @media screen and(min-width:1280px) {
      gap: 30px;
      margin-top: 30px;
    }
  }

  &__input {
    @extend %font-maintext;
    color: #003d1f;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #395c4b;
    outline: none;
  }

  &__btn {
    margin-top: 22px;

    @media screen and(min-width:768px) and(max-width:1279px) {
      margin-top: 20px;
    }

    @media screen and(min-width:1280px) {
      margin-top: 40px;
    }
  }
}
